
.blur {
  filter: blur(8px);
}
.time-selector {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.options label {
  margin: 0 10px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group input[type="number"] {
  width: 50px;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input-group .unit {
  font-weight: bold;
  margin-left: 10px;
}
